/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* Header */
header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

header .logo h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Sección hero */
.hero {
    background-image: url('img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-btn {
    background-color: #f79c42;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Productos */
.productos {
    text-align: center;
    padding: 50px 0;
}

.productos h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.producto-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 10%;
}

.producto {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.producto h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1.2rem;
    color: #f79c42;
    margin-bottom: 20px;
}

.btn-whatsapp {
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-whatsapp:hover {
    background-color: #128c7e;
}

/* Sección de contacto */
.contacto {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.contacto h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contacto p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
